<div class="dashboard" ng-controller="dash_controller">
    <div class="rotation">
        <!--<img src="./images/banner.png" alt="">-->
        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="./images/banner.png" alt="First slide">

                </div>
                <div class="item">
                    <img src="./images/banner.png" alt="Second slide">

                </div>
                <div class="item">
                    <img src="./images/banner.png" alt="Third slide">
                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <!-- <a class="carousel-control left" href="#myCarousel"
                data-slide="prev">&lsaquo;</a>
             <a class="carousel-control right" href="#myCarousel"
                data-slide="next">&rsaquo;</a>-->
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators" >
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
        </div>

        <script>
            $(document).ready(function(){
                $('#myCarousel').carousel({interval:10000});//每隔5秒自动轮播
            });
        </script>
    </div>
    <!--card-->
    <div class="card">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- 第一屏内容-->
                <div class="swiper-slide card-overfloo">
                    <div class="card-top clearfix" >
                        <!--利用ng-show来控制显示方式，第一屏只显示索引小于3和4的  第二批显示索引大于3和4的-->
                        <div class="card-3" ng-repeat="d in card3repeat track by $index" ng-show="$index<3" ng-click="cardtop($index)"   ng-class="{fabricImg1:$index==fabricIsSelected}">
                            <div class="cardbox">
                                <img src="{{d.src}}"  alt="">
                                <p>{{d.text}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-bottom clearfix">
                        <div class="card-2"  ng-repeat="d in cardbuttonrepeat track by $index " ng-show="$index<4"  ng-click="cardbutton($index)"  ng-class="{fabricImg2:$index==fabricIs2Selected}">
                            <div class="cardbox">
                                <img src="{{d.src}}"  alt="">
                                <p>{{d.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--第二屏内容,全大图标-->
                <div class="swiper-slide card-overfloo">
                    <div class="card-top clearfix">
                        <div class="card-3" ng-repeat="d in card3repeat" ng-show="$index>2" ng-click="cardtop($index)"   ng-class="{fabricImg1:$index==fabricIsSelected}">
                            <div class="cardbox">
                                <img src="{{d.src}}"  alt="">
                                <p>{{d.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--第三屏内容,全小图标-->
                <div class="swiper-slide card-overfloo">
                    <div class="card-bottom clearfix">
                        <div class="card-2"  ng-repeat="d in cardbuttonrepeat track by $index " ng-show="$index>4"  ng-click="cardbutton($index)"  ng-class="{fabricImg2:$index==fabricIs2Selected}">
                            <div class="cardbox">
                                <img src="{{d.src}}"  alt="">
                                <p>{{d.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--初始化swiper-->
        <script>
            var swiper = new Swiper('.swiper-container');
        </script>
    </div>
</div>
<!-- END MAIN CONTENT -->